global-include *.pyx
global-include *.pxd
global-include *.h
global-include *.py
recursive-include pufferlib/resources *
recursive-exclude experiments *
recursive-exclude wandb *
recursive-exclude tests *
include raylib-5.0_linux_amd64/lib/libraylib.a
include raylib-5.0_macos/lib/libraylib.a
recursive-exclude raylib-5.0_webassembly * 
